.body{
    margin: 40px;
}

.header{
    border: 1px solid red;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.header__content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

header__logo{
    padding: 15px;
}

.main{
    padding-top: 60px;
    text-align: center;
    position: relative;

}


.aside{

}

.footer{

}